---
const nodes = [
  {
    title: "Expertise",
    description: "20+ yrs\n20+ years of practical\nexperience",
    position: "top-[38%] left-[11%]",
    svg: `<svg width="220" height="220" viewBox="0 0 220 220" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M110 20C159.706 20 200 60.2944 200 110C200 159.706 159.706 200 110 200C60.2944 200 20 159.706 20 110C20 91.5463 25.5546 74.3903 35.082 60.1113C40.4272 61.9887 46.1092 63 52 63C76.7848 63 97.8736 45.0994 105.724 20.1006C107.141 20.0343 108.566 20 110 20Z" fill="#FF6A00" fill-opacity="0.5"/><path d="M110 0C170.751 0 220 49.2487 220 110C220 170.751 170.751 220 110 220C49.2487 220 0 170.751 0 110C0 87.8904 6.52352 67.3046 17.75 50.0615C18.006 50.2796 18.2641 50.4947 18.5234 50.708C7.43934 67.7737 1 88.1346 1 110C1 170.199 49.801 219 110 219C170.199 219 219 170.199 219 110C219 49.801 170.199 1 110 1C109.652 1 109.304 1.0026 108.957 1.00586C108.968 0.673166 108.977 0.339825 108.983 0.00585938C109.322 0.00279472 109.661 0 110 0Z" fill="#FF6A00"/></svg>`,
  },
  {
    title: "Communication",
    description: "Language\nProject management in\nfour languages",
    position: "top-[18%] left-[46%]",
    svg: `<svg width="230" height="221" viewBox="0 0 230 221" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116.486 0.00976562C179.314 0.805566 230 51.9834 230 115L229.99 116.486C229.455 158.745 206.126 195.509 171.733 215.053C171.543 214.777 171.349 214.503 171.153 214.23C205.694 194.642 229 157.544 229 115C229 52.0395 177.96 1 115 1C52.0395 1 1 52.0395 1 115C1 162.09 29.5516 202.509 70.2871 219.896C70.1273 220.189 69.9697 220.484 69.8154 220.781C29.1942 203.407 0.602997 163.321 0.00976562 116.486L0 115C0 51.4873 51.4873 0 115 0L116.486 0.00976562Z" fill="#FF6A00"/><path d="M117 25C166.706 25 207 65.2944 207 115C207 152.09 184.563 183.938 152.522 197.716C143.746 192.817 133.476 190 122.5 190C109.711 190 97.88 193.824 88.2529 200.311C52.6443 188.316 27 154.653 27 115C27 65.2944 67.2944 25 117 25Z" fill="#FF6A00" fill-opacity="0.5"/></svg>`,
  },
  {
    title: "Infrastructure",
    description: "EU net\nEurope-wide network",
    position: "top-[30%] left-[88%]",
    svg: `<svg width="238" height="228" viewBox="0 0 238 228" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M119 30C121.071 30 123.125 30.0718 125.16 30.2109C125.054 31.4617 125 32.7253 125 34C125 61.6142 150.296 84 181.5 84C187.857 84 193.968 83.0704 199.671 81.3574C205.015 92.7903 208 105.547 208 119C208 155.791 185.676 187.366 153.835 200.923C144.599 193.598 131.292 189 116.5 189C102.678 189 90.154 193.015 81.0352 199.518C50.871 185.27 30 154.573 30 119C30 69.8467 69.8467 30 119 30Z" fill="#FF6A00" fill-opacity="0.5"/><path d="M225.342 65.5391C233.439 81.6132 238 99.7737 238 119C238 167.687 208.761 209.544 166.885 227.972C166.92 227.596 166.947 227.219 166.966 226.841C208.231 208.459 237 167.09 237 119C237 100.066 232.539 82.1743 224.613 66.3164C224.859 66.0597 225.102 65.8002 225.342 65.5391ZM119 0C125.634 0 132.14 0.542363 138.479 1.58594C138.198 1.87675 137.923 2.17127 137.65 2.46777C131.575 1.50314 125.346 1 119 1C53.8304 1 1 53.8304 1 119C1 165.118 27.4573 205.054 66.0205 224.464C66.0072 224.808 66 225.153 66 225.5C66 225.525 65.9999 225.549 66 225.574C26.8772 206.081 0 165.679 0 119C0 53.2781 53.2781 0 119 0Z" fill="#FF6A00"/></svg>`,
  },
  {
    title: "Supervision",
    description: "HQ in EU\nsupervision from our\nEuropean headquarter",
    position: "top-[76%] left-[25%]",
    svg: `<svg width="250" height="246" viewBox="0 0 250 246" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 138.677C0.341747 138.755 0.684813 138.83 1.0293 138.901C6.69068 189.65 42.9797 231.144 90.9893 244.483C91.1314 244.873 91.2782 245.259 91.4307 245.644C42.5757 232.382 5.61102 190.238 0 138.677ZM124.258 0C193.293 0 249.258 55.9644 249.258 125C249.258 173.322 221.837 215.237 181.709 236.041C181.772 235.637 181.831 235.231 181.884 234.823C221.346 214.074 248.258 172.68 248.258 125C248.258 56.5167 192.741 1 124.258 1C84.4006 1 48.9368 19.8059 26.252 49.0273C25.9061 48.928 25.559 48.8307 25.21 48.7383C48.0667 19.0961 83.9319 0 124.258 0Z" fill="#FF6A00"/><path d="M124.258 29C179.486 29 224.258 73.7715 224.258 129C224.258 163.947 206.331 194.706 179.173 212.585C172.419 195.287 155.306 183 135.258 183C111.554 183 91.9516 200.175 88.7266 222.504C53.8335 209.237 28.2905 177 24.6943 138.392C45.758 133.048 61.2578 114.976 61.2578 93.5C61.2578 81.8324 56.683 71.1688 49.127 63.0049C67.4537 42.1577 94.3188 29 124.258 29Z" fill="#FF6A00" fill-opacity="0.5"/></svg>`,
  },
  {
    title: "Partners",
    description: "20+ Partners\nA network of 20+\npartner companies",
    position: "top-[60%] left-[52%]",
    svg: `<svg width="200" height="189" viewBox="0 0 200 189" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 0C155.228 0 200 44.7715 200 100C200 138.186 178.595 171.371 147.13 188.217C146.926 187.948 146.72 187.68 146.511 187.414C177.742 170.762 199 137.864 199 100C199 45.3238 154.676 1 100 1C45.3238 1 1 45.3238 1 100C1 124.703 10.0486 147.291 25.0107 164.635C24.6871 164.77 24.3648 164.906 24.0439 165.044C9.05576 147.558 0 124.837 0 100C0 44.7715 44.7715 0 100 0Z" fill="#FF6A00"/><path opacity="0.5" d="M101 18C145.735 18 182 54.4888 182 99.5C182 133.153 161.728 162.041 132.801 174.478C116.966 163.09 94.6839 156 70 156C61.3506 156 52.996 156.87 45.1104 158.491C29.6398 143.648 20 122.707 20 99.5C20 54.4888 56.2649 18 101 18Z" fill="#FF6A00"/></svg>`,
  },
  {
    title: "Consulting",
    description: "Tech advisory\ntechnical and\nconstruction\nconsulting",
    position: "top-[78%] left-[79%]",
    svg: `<svg width="221" height="213" viewBox="0 0 221 213" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M60.1621 1.1582C60.0902 1.55771 60.0416 1.96012 60.0176 2.36523C24.9096 21.0074 1 57.9436 1 100.465C1 161.768 50.6964 211.465 112 211.465C164.109 211.465 207.829 175.558 219.772 127.138C220.142 127.044 220.509 126.946 220.874 126.844C209.014 175.97 164.769 212.465 112 212.465C50.1441 212.465 0 162.321 0 100.465C0 57.3135 24.4035 19.8624 60.1621 1.1582ZM161.56 0C187.961 13.0485 208.478 36.1966 218.064 64.3975C217.688 64.3187 217.31 64.2439 216.93 64.1748C207.441 36.7359 187.496 14.1779 161.856 1.2666C161.784 0.84087 161.685 0.418801 161.56 0Z" fill="#FF6A00"/><path d="M145.947 19.3496C167.423 27.8648 184.551 44.9797 193.086 66.4453C180.048 71.5952 171 82.8756 171 95.9648C171 109.383 180.508 120.901 194.076 125.861C182.433 158.279 151.425 181.465 115 181.465C68.6081 181.465 31 143.857 31 97.4648C31 63.4408 51.2287 34.1415 80.3154 20.9375C88.8537 23.7791 99.4807 25.4648 111 25.4648C124.525 25.4648 136.819 23.1401 145.947 19.3496Z" fill="#FF6A00" fill-opacity="0.5"/></svg>`,
  },
];
---

<section class="relative bg-black px-6 py-20 text-white md:px-16 overflow-hidden">
  <div class="mx-auto max-w-[1336px]">

    <h2 class="font-heading mb-12 md:mb-16 text-accent text-4xl md:text-5xl font-thin">
      Our Strengths
    </h2>

    <!-- MOBILE VERSION: Grid of Unique Mini-Blob SVGs -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 lg:hidden max-w-[600px] mx-auto">
      {
        nodes.map((node) => (
          <div class="relative w-[260px] h-[250px] mx-auto flex flex-col items-center justify-center text-center p-6">
            <!-- Unique Blob SVG Background -->
            <div 
              class="absolute inset-0 w-full h-full flex items-center justify-center [&>svg]:w-full [&>svg]:h-full pointer-events-none select-none drop-shadow-[0_0_15px_rgba(255,106,0,0.15)]"
              set:html={node.svg} 
            />

            <!-- Node Content (Slightly larger mobile fonts) -->
            <div class="relative z-10 w-[185px]">
              <h3 class="text-2xl text-white font-normal capitalize leading-tight">
                {node.title}
              </h3>
              <p class="whitespace-pre-line text-white/70 font-extralight mt-2 leading-relaxed">
                {node.description}
              </p>
            </div>
          </div>
        ))
      }
    </div>

    <!-- DESKTOP VERSION: Interactive SVG Canvas Network -->
    <div class="hidden lg:block relative w-full max-w-[1200px] mx-auto aspect-[1039/636]">
      <svg
        class="absolute inset-0 w-full h-full pointer-events-none select-none"
        width="1039"
        height="636"
        viewBox="0 0 1039 636"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M548 288C603.228 288 648 332.772 648 388C648 426.186 626.595 459.371 595.13 476.217C594.926 475.948 594.72 475.68 594.511 475.414C625.742 458.762 647 425.864 647 388C647 333.324 602.676 289 548 289C493.324 289 449 333.324 449 388C449 412.703 458.049 435.291 473.011 452.635C472.687 452.77 472.365 452.906 472.044 453.044C457.056 435.558 448 412.837 448 388C448 332.772 492.772 288 548 288Z" fill="#FF6A00"/>
        <path opacity="0.5" d="M549 306C593.735 306 630 342.489 630 387.5C630 421.153 609.728 450.041 580.801 462.478C564.966 451.09 542.684 444 518 444C509.351 444 500.996 444.87 493.11 446.491C477.64 431.648 468 410.707 468 387.5C468 342.489 504.265 306 549 306Z" fill="#FF6A00"/>
        <path d="M479.486 0.00976562C542.314 0.805566 593 51.9834 593 115L592.99 116.486C592.455 158.745 569.126 195.509 534.733 215.053C534.543 214.777 534.349 214.503 534.153 214.23C568.694 194.642 592 157.544 592 115C592 52.0395 540.96 1 478 1C415.04 1 364 52.0395 364 115C364 162.09 392.552 202.509 433.287 219.896C433.127 220.189 432.97 220.484 432.815 220.781C392.194 203.407 363.603 163.321 363.01 116.486L363 115C363 51.4873 414.487 0 478 0L479.486 0.00976562Z" fill="#FF6A00"/>
        <path d="M480 25C529.706 25 570 65.2944 570 115C570 152.09 547.563 183.938 515.522 197.716C506.746 192.817 496.476 190 485.5 190C472.711 190 460.88 193.824 451.253 200.311C415.644 188.316 390 154.653 390 115C390 65.2944 430.294 25 480 25Z" fill="#FF6A00" fill-opacity="0.5"/>
        <path d="M920 101C922.071 101 924.125 101.072 926.16 101.211C926.054 102.462 926 103.725 926 105C926 132.614 951.296 155 982.5 155C988.857 155 994.968 154.07 1000.67 152.357C1006.01 163.79 1009 176.547 1009 190C1009 226.791 986.676 258.366 954.835 271.923C945.599 264.598 932.292 260 917.5 260C903.678 260 891.154 264.015 882.035 270.518C851.871 256.27 831 225.573 831 190C831 140.847 870.847 101 920 101Z" fill="#FF6A00" fill-opacity="0.5"/>
        <path d="M1026.34 136.539C1034.44 152.613 1039 170.774 1039 190C1039 238.687 1009.76 280.544 967.885 298.972C967.92 298.596 967.947 298.219 967.966 297.841C1009.23 279.459 1038 238.09 1038 190C1038 171.066 1033.54 153.174 1025.61 137.316C1025.86 137.06 1026.1 136.8 1026.34 136.539ZM920 71C926.634 71 933.14 71.5424 939.479 72.5859C939.198 72.8768 938.923 73.1713 938.65 73.4678C932.575 72.5031 926.346 72 920 72C854.83 72 802 124.83 802 190C802 236.118 828.457 276.054 867.021 295.464C867.007 295.808 867 296.153 867 296.5C867 296.525 867 296.549 867 296.574C827.877 277.081 801 236.679 801 190C801 124.278 854.278 71 920 71Z" fill="#FF6A00"/>
        <path d="M133.742 499.677C134.084 499.755 134.427 499.83 134.771 499.901C140.433 550.65 176.722 592.144 224.731 605.483C224.874 605.873 225.02 606.259 225.173 606.644C176.318 593.382 139.353 551.238 133.742 499.677ZM258 361C327.036 361 383 416.964 383 486C383 534.322 355.58 576.237 315.451 597.041C315.515 596.637 315.573 596.231 315.626 595.823C355.088 575.074 382 533.68 382 486C382 417.517 326.483 362 258 362C218.143 362 182.679 380.806 159.994 410.027C159.648 409.928 159.301 409.831 158.952 409.738C181.809 380.096 217.674 361 258 361Z" fill="#FF6A00"/>
        <path d="M258 390C313.228 390 358 434.772 358 490C358 524.947 340.074 555.706 312.915 573.585C306.161 556.287 289.048 544 269 544C245.296 544 225.694 561.175 222.469 583.504C187.576 570.237 162.033 538 158.437 499.392C179.5 494.048 195 475.976 195 454.5C195 442.832 190.425 432.169 182.869 424.005C201.196 403.158 228.061 390 258 390Z" fill="#FF6A00" fill-opacity="0.5"/>
        <path d="M115 153C164.706 153 205 193.294 205 243C205 292.706 164.706 333 115 333C65.2944 333 25 292.706 25 243C25 224.546 30.5546 207.39 40.082 193.111C45.4272 194.989 51.1092 196 57 196C81.7848 196 102.874 178.099 110.724 153.101C112.141 153.034 113.566 153 115 153Z" fill="#FF6A00" fill-opacity="0.5"/>
        <path d="M115 133C175.751 133 225 182.249 225 243C225 303.751 175.751 353 115 353C54.2487 353 5 303.751 5 243C5 220.89 11.5235 200.305 22.75 183.062C23.006 183.28 23.2641 183.495 23.5234 183.708C12.4393 200.774 6 221.135 6 243C6 303.199 54.801 352 115 352C175.199 352 224 303.199 224 243C224 182.801 175.199 134 115 134C114.652 134 114.304 134.003 113.957 134.006C113.968 133.673 113.977 133.34 113.983 133.006C114.322 133.003 114.661 133 115 133Z" fill="#FF6A00"/>
        <path d="M773.162 402.693C773.09 403.093 773.042 403.495 773.018 403.9C737.91 422.543 714 459.479 714 502C714 563.304 763.696 613 825 613C877.109 613 920.829 577.093 932.772 528.673C933.142 528.58 933.509 528.481 933.874 528.379C922.014 577.505 877.769 614 825 614C763.144 614 713 563.856 713 502C713 458.849 737.404 421.398 773.162 402.693ZM874.56 401.535C900.961 414.584 921.478 437.732 931.064 465.933C930.688 465.854 930.31 465.779 929.93 465.71C920.441 438.271 900.496 415.713 874.856 402.802C874.784 402.376 874.685 401.954 874.56 401.535Z" fill="#FF6A00"/>
        <path d="M858.947 420.885C880.423 429.4 897.551 446.515 906.086 467.98C893.048 473.13 884 484.411 884 497.5C884 510.918 893.508 522.436 907.076 527.396C895.433 559.814 864.425 583 828 583C781.608 583 744 545.392 744 499C744 464.976 764.229 435.677 793.315 422.473C801.854 425.314 812.481 427 824 427C837.525 427 849.819 424.675 858.947 420.885Z" fill="#FF6A00" fill-opacity="0.5"/>
        <path d="M205 309L229 377" stroke="#FF6A00" stroke-width="0.5"/>
        <path d="M358 145L238 220" stroke="#FF6A00" stroke-width="0.5"/>
        <path d="M550 198L558 289" stroke="#FF6A00" stroke-width="0.5"/>
        <path d="M830 270L653 349" stroke="#FF6A00" stroke-width="0.5"/>
        <path d="M822 167L600 105" stroke="#FF6A00" stroke-width="0.5"/>
        <path d="M701 531L383 523" stroke="#FF6A00" stroke-width="0.5"/>
        <path d="M652 441L713 490" stroke="#FF6A00" stroke-width="0.5"/>
        <path d="M439 415L377 451" stroke="#FF6A00" stroke-width="0.5"/>
      </svg>

      {
        nodes.map((node) => (
          <div
            class={`absolute ${node.position} -translate-x-1/2 -translate-y-1/2 text-center w-[180px] xl:w-[260px] flex flex-col items-center justify-center p-2 z-10 pointer-events-auto`}
          >
            <h3 class="text-lg xl:text-2xl text-white font-normal capitalize leading-tight">
              {node.title}
            </h3>

            <p class="whitespace-pre-line xl:text-lg text-white/70 font-extralight mt-1 xl:mt-2 leading-tight xl:leading-snug">
              {node.description}
            </p>
          </div>
        ))
      }
    </div>

  </div>
</section>